* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}


.reloj {
  width: 320px;
  height: 320px;
  background: white;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 12px rgba(0,0,0,.15);
}


.centro {
  width: 12px;
  height: 12px;
  background: orange;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}


.manecilla {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translateX(-50%) rotate(0deg);
  border-radius: 10px;
}


.hora {
  width: 8px;
  height: 70px;
  background: black;
  z-index: 3;
}


.minuto {
  width: 6px;
  height: 105px;
  background: black;
  z-index: 4;
}


.segundo {
  width: 3px;
  height: 135px;
  background: orange;
  z-index: 5;
}


.num {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}

.n12 { top: 22px; left: 50%; transform: translateX(-50%); }
.n3  { right: 25px; top: 50%; transform: translateY(-50%); }
.n6  { bottom: 21px; left: 50%; transform: translateX(-50%); }
.n9  { left: 25px; top: 50%; transform: translateY(-50%); }

.n1  { top: 40px; right: 90px; }
.n2  { top: 85px; right: 45px; }
.n4  { bottom: 85px; right: 45px; }
.n5  { bottom: 40px; right: 90px; }
.n7  { bottom: 40px; left: 90px; }
.n8  { bottom: 85px; left: 45px; }
.n10 { top: 85px; left: 45px; }
.n11 { top: 40px; left: 90px; }
